1 ICON "assets/icon.ico"
1000 RCDATA "assets/arrow.png"
1001 RCDATA "assets/chord_emotion/1.gif"
1002 RCDATA "assets/chord_emotion/2.gif"
1003 RCDATA "assets/chord_emotion/3.gif"
1004 RCDATA "assets/chord_emotion/4.gif"
1005 RCDATA "assets/chord_emotion/5.gif"
1006 RCDATA "assets/cursor/Link.ani"
1007 RCDATA "assets/cursor/Text Select.ani"
1008 RCDATA "assets/cursor/Unavailable.ani"
1009 RCDATA "assets/cursor/Vertical Resize.ani"
1010 RCDATA "assets/icon.png"
1011 RCDATA "assets/res/font.ttf"
1012 RCDATA "assets/res/penta_dim.png"
1013 RCDATA "assets/skins/buttons/confirm.png"
1014 RCDATA "assets/skins/buttons/generate.png"
1015 RCDATA "assets/skins/buttons/mode_aeolian.png"
1016 RCDATA "assets/skins/buttons/mode_dorian.png"
1017 RCDATA "assets/skins/buttons/mode_ionian.png"
1018 RCDATA "assets/skins/buttons/mode_locrian.png"
1019 RCDATA "assets/skins/buttons/mode_lydian.png"
1020 RCDATA "assets/skins/buttons/mode_mixolydian.png"
1021 RCDATA "assets/skins/buttons/mode_phrygian.png"
1022 RCDATA "assets/skins/buttons/mode_tab.png"
1023 RCDATA "assets/skins/buttons/ncnl.png"
1024 RCDATA "assets/skins/buttons/plugins_tab.png"
1025 RCDATA "assets/skins/buttons/presets.png"
1026 RCDATA "assets/skins/buttons/radar_tab.png"
1027 RCDATA "assets/skins/buttons/refresh.png"
1028 RCDATA "assets/skins/buttons/save.png"
1029 RCDATA "assets/skins/buttons/settings.png"
1030 RCDATA "assets/skins/main.png"
1031 RCDATA "assets/skins/mode.png"
1032 RCDATA "assets/skins/plugins.png"
1033 RCDATA "assets/skins/preset.png"
1034 RCDATA "assets/skins/radar.png"
